<div class="container">
  <h1>List of Friends</h1>
  <table>
    <thead>
    <th>Email</th>
    <th>Username</th>
    <th>Action</th>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.email %></td>
        <td><%= friend.username %></td>
        <td><%= link_to 'Profile', friendship_path(friend) %></td>
        <td><%= button_to 'Remove Friend', friendship_path(friend), method: :delete, data: { turbo_confirm: "Are you sure you want to remove #{friend.username} as friend?" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

