<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" id="staticBackdrop" data-controller="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark" style="background-color: #666666;">
        <div class="modal-header text-center">
          <h1 class="modal-title fs-5 text-black" id="staticBackdropLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render partial: 'form', locals: { post: @post, path: path } %>
        </div>
      </div>
    </div>
  </div>
<% end %>